<script>
  import { createEventDispatcher } from "svelte";

  let visible = false;

  const toggleDropdown = () => (visible = !visible);
</script>

<style lang="scss">
  @import "../../styles/mixins/box-shadow";
  .bp-dropdown-wrapper {
    position: relative;
    width: fit-content;
  }
  .bp-dropdown {
    position: absolute;
    min-width: 50px;
    display: inline-block;
    background: #fff;
    border-radius: 8px;
    padding: 10px 0;
    margin-top: 5px;
    transition: 0.4s;
    opacity: 0;
    top: 130%;

    @include bp-shadow(0, 1px, 6px, 0, rgba(0, 60, 128, 0.14));

    left: 25px;

    &.show {
      opacity: 1;
    }
    transition: opacity 0.5s;

    &:before {
      content: " ";
      width: 15px;
      height: 15px;
      position: absolute;
      bottom: -8px;
      background: #fff;
      transform: rotate(45deg);
    }
  }
</style>

<svelte:options tag="bp-dropdown" />

<div on:click={toggleDropdown} class="bp-dropdown-wrapper">
  <slot name="trigger"></slot>
  <div class="bp-dropdown {visible ? 'show' : ''}">
    <slot name="items"></slot>
  </div>
</div>
