@import '../base/module.scss';
@import '../variables/module.scss';
@import '../mixins/button.scss';
@import '../utilities/module.scss';

.bp-btn {
  box-sizing: border-box;
  display: inline-block;

  cursor: pointer;
  // min-width: $bp-btn-min-width;
  height: $bp-btn-height;
  line-height: $bp-btn-line-height;

  margin: 0;
  // padding: $bp-btn-padding;

  border-width: 0;
  border-radius: $bp-btn-border-radius;

  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;

  > * {
    vertical-align: middle;
  }

  font-family: $bp-btn-font-family;
  font-size: $bp-btn-font-size;
  font-weight: $bp-btn-font-weight;

  outline: none;
  text-decoration: none;

  border-radius: $bp-btn-rounded-border-radius;

  &:active,
  &:focus,
  &:visited,
  &:hover,
  &:disabled {
    outline: none;
    text-decoration: none;
  }

  &:disabled {
    cursor: default;
  }

  @include bp-btn--arrow();
  @include bp-btn--icon();
  @include bp-btn--custom($bp-btn-color, $bp-btn-bg-color);

  /** Size **/
  &.bp-btn--small {
    min-width: 120px;
  }

  &.bp-btn--medium {
    min-width: 160px;
  }

  &.bp-btn--large {
    min-width: 240px;
  }

  /** Custom BLiP Button Colors **/
  //Corporate
  @include register-button-color("bot", $bp-color-bot);
  @include register-button-color("blip-light", $bp-color-blip-light);
  @include register-button-color("blip-dark", $bp-color-blip-dark);

  //Semiotic
  @include register-button-color("true", $bp-color-true);
  @include register-button-color("delete", $bp-color-delete);
  @include register-button-color("warning", $bp-color-warning);

  //Neutrals
  @include register-button-color("piano", $bp-color-piano);
  @include register-button-color("elevator", $bp-color-elevator);
  @include register-button-color("console", $bp-color-console);
  @include register-button-color("obsidian", $bp-color-obsidian);
  @include register-button-color("onix", $bp-color-onix);
  @include register-button-color("suit", $bp-color-suit);
  @include register-button-color("city", $bp-color-city);
  @include register-button-color("city-dark", bp-darken($bp-color-city));
  @include register-button-color("city-light", bp-lighten($bp-color-city));
  @include register-button-color("desk", $bp-color-desk);
  @include register-button-color("rooftop", $bp-color-rooftop);
  @include register-button-color("cloud", $bp-color-cloud);
  @include register-button-color("silver", $bp-color-silver);
  @include register-button-color("time", $bp-color-time);
  @include register-button-color("breeze", $bp-color-breeze);
  @include register-button-color("sky", $bp-color-sky);
  @include register-button-color("offwhite", $bp-color-offwhite);
  @include register-button-color("whisper", $bp-color-whisper);

  //Generic
  @include register-button-color("white", $bp-color-white);
  @include register-button-color("black", $bp-color-black);
}
