.bp-loading {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 40px;
  height: 40px;
}

.bp-loading--small {
  width: 25px;
  height: 25px;
}

.bp-loading .bp-loading__circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.bp-loading .bp-loading__circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: $bp-color-breeze;
  border-radius: 100%;
  -webkit-animation: bp-loadingBounceDelay 1.2s infinite ease-in-out both;
  animation: bp-loadingBounceDelay 1.2s infinite ease-in-out both;
}

.bp-loading.dark-background .bp-loading__circle:before {
  background-color: white;
}

.bp-loading .bp-loading2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.bp-loading .bp-loading3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.bp-loading .bp-loading4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.bp-loading .bp-loading5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.bp-loading .bp-loading6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.bp-loading .bp-loading7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.bp-loading .bp-loading8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.bp-loading .bp-loading9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.bp-loading .bp-loading10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.bp-loading .bp-loading11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.bp-loading .bp-loading12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.bp-loading .bp-loading2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.bp-loading .bp-loading3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.bp-loading .bp-loading4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.bp-loading .bp-loading5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.bp-loading .bp-loading6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.bp-loading .bp-loading7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.bp-loading .bp-loading8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.bp-loading .bp-loading9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.bp-loading .bp-loading10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.bp-loading .bp-loading11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.bp-loading .bp-loading12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bp-loadingBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bp-loadingBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
