.blip-select {
  @include flex-box;
  flex-wrap: wrap;

  &.bp-input-wrapper { background-color: $bp-color-white; }

  &.bp-select-wrapper--invalid {
    border-color: $bp-color-delete;
    background-color: $bp-color-warning-light;

    &.bp-input-wrapper--focus {
      label {
        color: $bp-color-delete;
      }
    }
  }

  &.bp-select-wrapper--disabled {
    background-color: $bp-color-offwhite;
    border-color: $bp-color-breeze;
  }
}

.blip-select__input {
  @include placeholder($bp-color-cloud);
  cursor: pointer;
  display: block;
  border: 0;
  background-color: transparent;
  outline: none;
  width: 100%;
  height: 1.9*$m;
  margin-top: 0.2*$m;
  font-family: $bp-ff;
  font-size: $bp-fs-6;
  align-self: center;
  position: relative;
  z-index: 1;

  &:focus { outline: none; }
}

.blip-select__options {
  background: #fff;
  position: absolute;
  top: 100%; left: 0;
  width: 100%; max-height: 500px;
  border: 0.1*$m solid $bp-color-breeze;
  border-radius: 0.3*$m;
  box-shadow: 0 0.2*$m 1.2*$m 0 rgba(0, 0, 0, 0.1);
  transform-origin: 0 0;
  transform: scale(0);
  display: none;
  opacity: 0;
  transition: 200ms;
  overflow-y: auto;
  z-index: 2;

  @include scrollbar($bp-color-time);

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.blip-select__options--open-top {
  top: initial;
  bottom: 100%;
}

.blip-select__option {
  padding: 0.8*$m 1.7*$m;
  color: $bp-color-city;
  margin-bottom: 0;
  cursor: pointer;
  word-break: break-word;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;

  &:hover,
  &:focus {
    background: $bp-color-offwhite;
    outline: 0;
  }

  &.blip-select__empty-option {
    cursor: default;
  }

  .blip-select__option__label:not(:only-child) {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .blip-select__option__description {
    margin-left: auto;
    flex-shrink: 0;
    font-size: $bp-fs-7;
    color: $bp-color-rooftop;
    line-height: 100%;
  }
}

.blip-select__add-option {
  small {
    margin-right: 0.5*$m;
    color: #fff;
  }

  div.blip-new-option-text {
    margin-top: -0.3*$m;
  }
}

.blip-select__option--selected {
  background: $bp-color-offwhite;
}
