.blip-tags {
  border: 1px solid $bp-color-city;
  border-radius: 3px;
  padding: 4px 5px;
  position: relative;
  cursor: pointer;
  display: block;
  text-align: left;

  &:hover {
    border-color: $bp-color-rooftop;
  }

  .blip-select {
    min-width: 85px;
    display: inline-flex;
    flex: 2 0;

    &.bp-input-wrapper--focus {
      box-shadow: none;
    }

    .blip-select__input {
      cursor: pointer;
    }
  }

  .bp-input-wrapper {
    height: 2.6*$m;
    border: 0;
    padding: 0;
    margin-top: 3px;
    position: initial;
  }

  &.bp-input-wrapper--focus {
    box-shadow: none;
    border-color: $bp-color-blip-light;
  }

  .blip-select__options {
    border: 0;
  }
}

.blip-select__add-option {
  background: $bp-color-blip-light;
  border: 0;
  color: #fff;

  &:hover,
  &:focus {
    background: $bp-color-blip-light;
    outline: 0;
  }
}

.blip-tags--compact-mode {
  border: 0;
}

.blip-tags-list {
  display: inline-block;
}

.blip-tag-container {
  .blip-tag { margin-right: 5px; }
}

.blip-tags-list {
  display: inline-block;
}

.blip-tag__label-option {
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  padding: 3px 12px;
  font-size: $bp-fs-6;
}
