.bp-textarea-wrapper {
  min-height: 4.7*$m;
  border: 0.1*$m solid $bp-color-breeze;
  border-radius: 0.4*$m;
  padding: 0.3*$m 0.5*$m;
  position: relative;
  background-color: $bp-color-white;
}

.bp-textarea-wrapper--focus {
  box-shadow: 0 0.2*$m 1.2*$m 0 rgba(0, 0, 0, 0.1);
  border-color: $bp-color-blip-light;
  transition: box-shadow .5s ease-in;
}

.bp-textarea-wrapper--disabled {
  background-color: $bp-color-offwhite;
  border-color: $bp-color-breeze;
}


.bp-textarea-wrapper--invalid {
  border-color: $bp-color-delete;
}

.bp-textarea,
.bp-textarea[disabled],
.bp-textarea[readonly] {
  resize: none;
  border: none;
  font-size: $bp-fs-6;
  padding: 0;
  overflow-y: auto;
  width: 100%;
  height: 7.2*$m;
  line-height: $bp-lh-6;
  display: block;
  margin-top: 0.2*$m;

  @include placeholder($bp-color-cloud);
  @include scrollbar($bp-color-time);

  &:focus {
    border: none;
    outline: none;
  }
}

.bp-textarea,
.bp-textarea[readonly] {
  background: $bp-color-white;
}

.bp-textarea[disabled] {
  background: $bp-color-offwhite;
}
