<script>
  import { createEventDispatcher } from "svelte";

  export let color = "bot";

  const dispatch = createEventDispatcher();

  function onClick(event) {
    dispatch("click", event);
  }
</script>

<style lang="scss">
  @import "../../styles/base/module";
  @import "../../styles/variables/module";
  @import "../../styles/mixins/button";
  @import "../../styles/utilities/color";

  button {
    all: unset;
    height: 40px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0;
    padding: 10px 16px;
    cursor: pointer;

    /* font */
    font-family: $bp-ff;
    color: $bp-color-white;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
  }
</style>

<svelte:options tag="bp-btn" />

<button part="button" class="bp-btn--{color}" on:click={onClick}>
  <slot />
</button>
