/*
  BLiP Toolkit

  Font Weight Classes

*/

.bp-fw-regular {
  font-weight: $bp-fw-regular;
}

.bp-fw-bold {
  font-weight: $bp-fw-bold;
}

.bp-fw-extra-bold {
  font-weight: $bp-fw-extra-bold;
}
