/*
  BLiP Toolkit

  Line Height Classes

*/

.bp-lh-zero {
  line-height: 0;
}

.bp-lh-simple {
  line-height: 100%;
}

.bp-lh-plus {
  line-height: 150%;
}

.bp-lh-double {
  line-height: 200%;
}

.bp-lh-1 {
  line-height: $bp-lh-1;
}

.bp-lh-2 {
  line-height: $bp-lh-2;
}

.bp-lh-3 {
  line-height: $bp-lh-3;
}

.bp-lh-4 {
  line-height: $bp-lh-4;
}

.bp-lh-5 {
  line-height: $bp-lh-5;
}

.bp-lh-6 {
  line-height: $bp-lh-6;
}

.bp-lh-7 {
  line-height: $bp-lh-7;
}

.bp-lh-8 {
  line-height: $bp-lh-8;
}
