/*
  BLiP Toolkit
  Color Variables
*/

$lighten-amount: 7%;
$darken-amount: 7%;

@function bp-lighten($color) {
  @return lighten($color, $lighten-amount);
}

@function bp-darken($color) {
  @return darken($color, $darken-amount);
}

//Corporate
$bp-color-bot: #2cc3d5;
$bp-color-blip-light: #0cc8cc;
$bp-color-blip-dark: #15afb2;

//Semiotic
$bp-color-wind: #ADE7EE;
$bp-color-smurf: #55CFFF;
$bp-color-sea: #517BF2;
$bp-color-blue-jeans: #2C2A46;

$bp-color-true: #4dcb7b;

$bp-color-warning-yellow: #ffcf33;
$bp-color-cheetos: #F9B42F;
$bp-color-doritos:#F99B45;

$bp-color-warning-light: #fbeaea;
$bp-color-delete: #fb7a6d;
$bp-color-warning: #f76556;
$bp-color-watermelon: #F66689;

//Neutrals
$bp-color-piano: #191919;
$bp-color-elevator: #333333;
$bp-color-console: #1d1d1d;
$bp-color-obsidian: #1a272f;
$bp-color-onix: #242b36;
$bp-color-suit: #3d4554;
$bp-color-city: #52636c;
$bp-color-desk: #607b99;
$bp-color-rooftop: #738192;
$bp-color-cloud: #8ca0b3;
$bp-color-silver: #94a3ab;
$bp-color-time: #a8bfc4;
$bp-color-breeze: #c9dfe4;
$bp-color-sky: #daf2f4;
$bp-color-offwhite: #eaeeee;
$bp-color-whisper: #f5f8f9;

$bp-color-white: #ffffff;
$bp-color-black: #000000;

$bp-gradient-shine: linear-gradient(180deg, #f9fbfc 0%, #ecf1f3 100%);
$bp-gradient-bot: linear-gradient(90deg, #51dbe3 0%, #28b4c3 100%);
$bp-gradient-blip: linear-gradient(137.45deg, #1bd6e7 0%, #0fc3f8 56.17%, #0abcff 100%);
$bp-gradient-suit: linear-gradient(90deg, #3d4554, #2f3747);
$bp-gradient-business: linear-gradient(90deg, #202f3f 0%, #102834 100%);
$bp-gradient-enterprise: linear-gradient(90deg, #2e3237 0%, #1f2018 100%);
