/*
  BLiP Toolkit

  All Component Variables

*/

//Buttons
$bp-btn-min-width: 16 * $m;
$bp-btn-height: 4.2 * $m;
$bp-btn-line-height: 3.8 * $m;
$bp-btn-text-only-line-height: 1.8 * $m;
$bp-btn-padding: 0 2 * $m;
$bp-btn-text-only-padding: 0.8*$m 1*$m;
$bp-btn-border-width: 2px;
$bp-btn-flat-border-style: solid;
$bp-btn-dashed-border-style: dashed;
$bp-btn-border-radius: 3px;
$bp-btn-rounded-border-radius: 8px;
$bp-btn-font-family: $bp-ff;
$bp-btn-font-size: $bp-fs-6;
$bp-btn-font-weight: $bp-fw-bold;
$bp-btn-color: $bp-color-white;
$bp-btn-bg-color: $bp-color-breeze;
$bp-btn-flat-color: $bp-color-black;
$bp-btn-flat-border-color: $bp-color-breeze;
$bp-btn-disabled-color: $bp-color-black;


//Dropdowns
$bp-dropdown-z-index: 100;
$bp-dropdown-min-width: 5 * $m;
$bp-dropdown-min-height: 1.8 * $m;
$bp-dropdown-margin-top: 0.5 * $m;
$bp-dropdown-top: 130%;
$bp-dropdown-padding: 1 * $m 0;
$bp-dropdown-border-radius: 2px;
$bp-dropdown-transition: 400ms;

$bp-dropdown_before-width: 1.5*$m;
$bp-dropdown_before-height: 1.5*$m;
$bp-dropdown_before-top: -8px;
$bp-dropdown_before-rotation: 45deg;

$bp-dropdown--right: -10px;
$bp-dropdown_before--right: 10px;

$bp-dropdown--left: -10px;
$bp-dropdown_before--left: 10px;


//Divider
$bp-divider-bg-color: $bp-color-breeze;
$bp-divider-length: 100%;
$bp-divider-base-size: 1px;
$bp-divider-medium-size: 2px;
$bp-divider-large-size: 3px;


//Table
$bp-table-color: $bp-color-city;
$bp-table-bg-color: $bp-color-white;
$bp-table_edge-padding: 2.5*$m;

$bp-table_head-bg-color: $bp-color-white;
$bp-table_head-border-color: $bp-color-offwhite;
$bp-table_head-font-size: $bp-fs-6;
$bp-table_head-line-height: $bp-lh-plus;
$bp-table_head-font-weight: $bp-fw-bold;

$bp-table_th-padding: 2*$m 1*$m;

$bp-table_body-bg-color: $bp-color-white;
$bp-table_body-font-size: $bp-fs-6;
$bp-table_body-line-height: $bp-lh-plus;
$bp-table_body-font-weight: $bp-fw-regular;

$bp-table_td-padding: 1*$m 1*$m;





