@import './register-color';

@mixin bp-btn--regular($color, $bg-color) {
  color: $color;
  background-color: $bg-color;

  &:hover {
    background-color: bp-darken($bg-color);
  }

  &:disabled {
    background-color: $bp-btn-bg-color;
    color: $bp-btn-color;
    border-width: 0;
  }
}

@mixin register-button-color($name, $value) {
  &.bp-btn--#{$name} {
    @include bp-btn--regular($bp-color-white, $value);
  }
}

/** Custom BLiP Button Colors **/
//Corporate
@include register-button-color("bot", $bp-color-bot);
@include register-button-color("blip-light", $bp-color-blip-light);
@include register-button-color("blip-dark", $bp-color-blip-dark);

//Semiotic
@include register-button-color("true", $bp-color-true);
@include register-button-color("delete", $bp-color-delete);
@include register-button-color("warning", $bp-color-warning);

//Neutrals
@include register-button-color("piano", $bp-color-piano);
@include register-button-color("elevator", $bp-color-elevator);
@include register-button-color("console", $bp-color-console);
@include register-button-color("obsidian", $bp-color-obsidian);
@include register-button-color("onix", $bp-color-onix);
@include register-button-color("suit", $bp-color-suit);
@include register-button-color("city", $bp-color-city);
@include register-button-color("city-dark", bp-darken($bp-color-city));
@include register-button-color("city-light", bp-lighten($bp-color-city));
@include register-button-color("desk", $bp-color-desk);
@include register-button-color("rooftop", $bp-color-rooftop);
@include register-button-color("cloud", $bp-color-cloud);
@include register-button-color("silver", $bp-color-silver);
@include register-button-color("time", $bp-color-time);
@include register-button-color("breeze", $bp-color-breeze);
@include register-button-color("sky", $bp-color-sky);
@include register-button-color("offwhite", $bp-color-offwhite);
@include register-button-color("whisper", $bp-color-whisper);

//Generic
@include register-button-color("white", $bp-color-white);
@include register-button-color("black", $bp-color-black);
