@import "svg-fill";

@mixin register-base-color($name, $value) {
  .bp-c-#{$name} {
    color: $value;
  }

  .bp-bc-#{$name} {
    border-color: $value;
  }

  .bp-bg-#{$name} {
    background-color: $value;
  }

  .bp-fill-#{$name} {
    @include bp-fill--all($value);
  }
}
